
@{
    ViewData["Title"] = "Kateqoriya Əlavə Et - Shahnaz Mammadova";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}

@model CreateCategoryVM
<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Kateqoriya Əlavə Et</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="category" asp-action="index" class="text-danger">Bütün Kateqoriyalara Bax...</a></li>
                    </ol>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Kateqoriya Əlavə Edin</h5>
                    </div>
                    <form class="form theme-form" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput5">Kateqoriya Adı (Azərbaycan Dili) : </label>
                                        <input asp-for="NameAz" class="form-control btn-pill" id="exampleFormControlInput5" type="text">
                                        <span asp-validation-for="NameAz" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput5">Kateqoriya Adı (İngilis Dili) : </label>
                                        <input asp-for="NameEng" class="form-control btn-pill" id="exampleFormControlInput5" type="text">
                                        <span asp-validation-for="NameEng" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput5">Kateqoriya Adı (Rus Dili) : </label>
                                        <input asp-for="NameRu" class="form-control btn-pill" id="exampleFormControlInput5" type="text">
                                        <span asp-validation-for="NameRu" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit">Əlavə Et</button>
                            <a asp-controller="category" asp-action="index" class="btn btn-light">İmtina Et</a> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
