
@{
    ViewData["Title"] = "Qalereya - Shahnaz Mammadova";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}

@model ICollection<Slider>
<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Qalereya</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-danger" asp-controller="slider" asp-action="create">Yeni Şəkil Video Yüklə...</a></>
                    </ol>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 style="text-align:center">Qalereya</h5><span style="text-align:center">Yüklədiyiniz bütün şəkillərə aşağıdakı cədvəldən nəzarət edə bilərsiniz. <bold><span style="text-align:center" class="text-danger">Qeyd: Yeni şəkil əlavə etmək üçün Yeni Şəkil Video Yüklə - ə keçid edin.</span></bold></span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr style="text-align:center">
                                    <th scope="col">Əsas Şəkil </th>
                                    <th scope="col">Video</th>
                                    <th scope="col">Adı</th>
                                    <th scope="col">Yaranma Tarixi</th>
                                    <th scope="col">Dəyişdirilmə Tarixi</th>
                                    <th scope="col">Kateqoriya</th>
                                    <th scope="col">Tənzimləmələr</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var slider in Model.Where(c => c.IsDeleted == false))
                                {
                                    <tr>
                                        <td><img src="~/user/assets/sliderimg/@slider.ImageUrl" width="100px" height="70px" /></td>
                                        <td><video src="~/user/assets/sliderimg/@slider.VideoUrl" width="140px" height="70px" controls /></td>
                                        <td>@slider.NameAz</td>
                                        <td>@slider.CreatedTime.ToString( "MM/dd/yyyy hh:mm:ss tt" )</td>
                                        <td>@slider.UpdatedTime?.ToString( "MM/dd/yyyy hh:mm:ss tt" )</td>
                                        <td>@slider.Category.NameAz</td>
                                        <td>
                                            <a class="btn btn-success margin-top-10" asp-controller="slider" asp-action="update" asp-route-id=@slider.Id data-bs-original-title="" title=""> <span class="icon-pencil-alt"></span></a>
                                            <a class="btn btn-danger" asp-controller="slider" asp-action="delete" asp-route-id=@slider.Id data-bs-original-title="" title=""> <span class="icon-trash"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

