
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}

@model Contact
<div class="container-fluid">
    <div class="email-wrap" style="margin-left:300px; margin-top:20px">
        <div class="row" style="width:50%; height:50%">
            <div class="col-xl-12 col-md-12">
                <div class="email-right-aside">
                    <div class="card email-body">
                        <div class="email-profile">
                            <div class="email-right-aside">
                                <div class="email-body">
                                    <div class="email-content">
                                        <div class="email-wrapper" >
                                            <div class="emailread-group">
                                                <div class="read-group">
                                                    <h5>@Model.Subject</h5>
                                                    <p>@Model.Message</p>
                                                </div>
                                            </div>
                                            <div class="emailread-group">
                                                <textarea class="form-control" rows="6" style="width:100%" placeholder="write about your nots" name="text"></textarea>
                                                <div class="action-wrapper">
                                                    <ul class="actions">
                                                        <li><a class="btn btn-primary" href="javascript:void(0)"><i class="fa fa-reply me-2"></i>Reply</a></li>
                                                        <li><a class="btn btn-danger" href="javascript:void(0)"><i class="fa fa-remove me-2"></i>Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

