
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}

@model ContactVM
<div class="container-fluid">
    <div class="email-wrap" style="margin-left:300px; margin-top:20px">
        <div class="row" style="width:50%; height:50%">
            <div class="col-xl-12 col-md-12">
                <div class="email-right-aside">
                    <div class="card email-body">
                        <div class="email-profile">
                            <div class="email-right-aside">
                                <div class="email-body">
                                    <div class="email-content">
                                        <div class="email-wrapper" >
                                            <div class="emailread-group">
                                                <div class="read-group">
                                                    <h5>@Model.Subject</h5>
                                                    <p>@Model.Message</p>
                                                </div>
                                            </div>
                                            <div class="emailread-group">
                                                <form method="post" asp-action="detail" asp-controller="email">
                                                 <textarea class="form-control" rows="6"  placeholder="write about your nots" asp-for="Reply"></textarea>
                                                <div class="action-wrapper">
                                                    <ul class="actions">
                                                        <li><button class="btn btn-primary" type="submit" asp-action="detail" asp-controller="email"><i class="fa fa-reply me-2"></i>Reply</button></li>
                                                    </ul>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

