
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="body-inner">
	<div id="scroll-container">
		<div id="content-wrap">
			<div id="page-header" class="ph-cap-sm ph-center ph-image-cropped ph-image-cover-4 ph-content-parallax">
				<div class="page-header-inner tt-wrap">
					<div class="ph-caption">
						<h1 class="ph-caption-title ph-appear">Wishlist</h1>
						<div class="ph-caption-title-ghost ph-appear">Wishlist</div>
						<div class="ph-caption-subtitle ph-appear">My Wishlist</div>
					</div>
				</div> 
				<a href="#page-content" class="scroll-down-circle" data-offset="30">
					<div class="sdc-inner ph-appear">
						<div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
						<svg viewBox="0 0 500 500">
							<defs>
								<path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
							</defs>
							<text dy="30">
								<textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
							</text>
						</svg>
					</div> 
				</a>
				<div class="made-with-love ph-appear">
					<div class="mwl-inner">
						<div class="mwl-text">Made with</div>
						<div class="mwl-icon"><i class="far fa-heart"></i></div>
					</div>
				</div>
			</div>
			<div id="page-content">
				<div class="tt-section no-padding-top">
					<div class="tt-section-inner tt-wrap">
						<div id="shop-wishlist">
							<table class="tt-table shop-wishlist-table">
								<thead class="shop-wishlist-table-head">
									<tr>
										<th class="swh-product-title" colspan="3">
											Product
										</th>
										<th class="swh-price">
											Unit Price
										</th>
										<th class="swh-quantity">
											Stock Status
										</th>
										<th class="swh-subtotal">
											Action
										</th>
									</tr>
								</thead>
								<tbody class="shop-wishlist-table-body">
									<tr class="shop-wishlist-table-item">
										<td class="swti-product-remove">
											<a href="#" title="Remove this item"><i class="fas fa-times"></i></a>
										</td>
										<td class="swti-product-thumb">
											<a href="shop-single.html">
												<img src="assets/img/shop/small/product-5.jpg" alt="image" />
											</a>
										</td>
										<td class="swti-product-title">
											<a href="shop-single.html">Nude - Print Mockup Kit</a>
										</td>
										<td class="swti-price" data-title="Price">
											<bdi>$25.00</bdi>
										</td>
										<td class="swti-stock-status" data-title="Stock Status">
											<span class="swti-in-stock">In Stock</span>
										</td>
										<td class="swti-action">
											<div class="tt-btn tt-btn-primary tt-btn-block">
												<a href="shop-single.html" data-hover="Select Options">Select Options</a>
											</div>
										</td>
									</tr>
									<tr class="shop-wishlist-table-item">
										<td class="swti-product-remove">
											<a href="#" title="Remove this item"><i class="fas fa-times"></i></a>
										</td>
										<td class="swti-product-thumb">
											<a href="shop-single.html">
												<img src="assets/img/shop/small/product-4.jpg" alt="image" />
											</a>
										</td>
										<td class="swti-product-title">
											<a href="shop-single.html">Farsight - Print Mockup Kit</a>
										</td>
										<td class="swti-price" data-title="Price">
											<div class="swti-price-sale">
												<ins class="swti-current-price"><bdi>$21.00</bdi></ins>
												<del class="swti-old-price"><bdi>$25.00</bdi></del>
											</div>
										</td>
										<td class="swti-stock-status" data-title="Stock Status">
											<span class="swti-in-stock">In Stock</span>
										</td>
										<td class="swti-action">
											<div class="tt-btn tt-btn-primary tt-btn-block">
												<a href="#" data-hover="Add to Cart">Add to Cart</a>
											</div>
										</td>
									</tr>
									<tr class="shop-wishlist-table-item">
										<td class="swti-product-remove">
											<a href="#" title="Remove this item"><i class="fas fa-times"></i></a>
										</td>
										<td class="swti-product-thumb">
											<a href="shop-single.html">
												<img src="assets/img/shop/small/product-3.jpg" alt="image" />
											</a>
										</td>
										<td class="swti-product-title">
											<a href="shop-single.html">Blackstone - Branding Mockup Kit</a>
										</td>
										<td class="swti-price" data-title="Price">
											<bdi>$21.00</bdi>
										</td>
										<td class="swti-stock-status" data-title="Stock Status">
											<span class="swti-out-of-stock">Out of Stock</span>
										</td>
										<td class="swti-action">
										</td>
									</tr>
									<tr class="shop-wishlist-table-buttons">
										<td colspan="6">
											<div class="tt-btn tt-btn-dark">
												<a href="shop-list.html" data-hover="Continue Shopping">Continue Shopping</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div> 
				</div>
				<div class="tt-section padding-top-lg-40 no-padding-top padding-bottom-lg-150">
					<div class="tt-section-inner tt-wrap">
						<div class="tt-product-carousel tt-featured-products-carousel ttp-fixed-height prc-nav-outside anim-fadeinup" data-space-between="30" data-loop="true" data-simulate-touch="true">
							<h2 class="tt-prc-heading">You may be interested in…</h2>
							<div class="swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="tt-product">
											<div class="tt-product-image-holder">
												<a href="shop-single.html" class="tt-product-image-wrap">
													<figure class="tt-product-image">
														<img class="swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-1/product-1-1.jpg" alt="image" />
													</figure> 
													<figure class="tt-product-hover-image">
														<img class=" swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-1/product-1-2.jpg" alt="image" />
													</figure> 
												</a> 
												<div class="tt-product-additional-buttons">
													<div class="tt-pr-addit-btn-wrap">
														<a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
														<a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
													</div>
												</div> 
											</div> 
											<div class="tt-product-info">
												<h3 class="tt-product-title"><a href="shop-single.html" title="Dash - Branding Mockup Templates">Dash - Branding Mockup Templates</a></h3>
												<div class="tt-pi-price-btn-wrap">
													<div class="tt-product-price">
														<bdi>$25.00</bdi>
													</div> 
													<div class="tt-product-buttons">
														<a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
													</div> 
												</div> 
											</div> 
										</div>
									</div> 
									<div class="swiper-slide">
										<div class="tt-product">
											<div class="tt-product-image-holder">
												<a href="shop-single.html" class="tt-product-image-wrap">
													<figure class="tt-product-image">
														<img class="swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-3/product-3-1.jpg" alt="image" />
													</figure> 
													<figure class="tt-product-hover-image">
														<img class=" swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-3/product-3-2.jpg" alt="image" />
													</figure> 
												</a> 
												<div class="tt-product-additional-buttons">
													<div class="tt-pr-addit-btn-wrap">
														<a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
														<a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
													</div>
												</div> 
											</div> 
											<div class="tt-product-info">
												<h3 class="tt-product-title"><a href="shop-single.html" title="Blackstone - Branding Mockup Kit">Blackstone - Branding Mockup Kit</a></h3>
												<div class="tt-pi-price-btn-wrap">
													<div class="tt-product-price">
														<bdi>$25.00</bdi>
													</div> 
													<div class="tt-product-buttons">
														<a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
													</div> 
												</div> 
											</div> 
										</div>
									</div> 
									<div class="swiper-slide">
										<div class="tt-product">
											<div class="tt-product-image-holder">
												<a href="shop-single.html" class="tt-product-image-wrap">
													<figure class="tt-product-image">
														<img class="swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-4/product-4-1.jpg" alt="image" />
													</figure>
													<figure class="tt-product-hover-image">
														<img class=" swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-4/product-4-2.jpg" alt="image" />
													</figure> 
													<div class="tt-product-padges">
														<div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
													</div>
												</a> 
												<div class="tt-product-additional-buttons">
													<div class="tt-pr-addit-btn-wrap">
														<a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
														<a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
													</div>
												</div> 
											</div> 
											<div class="tt-product-info">
												<h3 class="tt-product-title"><a href="shop-single.html" title="Farsight - Print Mockup Kit">Farsight - Print Mockup Kit</a></h3>
												<div class="tt-pi-price-btn-wrap">
													<div class="tt-product-price">
														<ins class="pp-current-price"><bdi>$21.00</bdi></ins>
														<del class="pp-old-price"><bdi>$25.00</bdi></del>
													</div> 
													<div class="tt-product-buttons">
														<a href="shop-single.html" class="tt-product-btn tt-product-sel-opt-btn"><span>Select Options</span></a>
													</div> 
												</div> 
											</div> 
										</div>
									</div> 
									<div class="swiper-slide">
										<div class="tt-product">
											<div class="tt-product-image-holder">
												<a href="shop-single.html" class="tt-product-image-wrap">
													<figure class="tt-product-image">
														<img class="swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-5/product-5-1.jpg" alt="image" />
													</figure> 
													<figure class="tt-product-hover-image">
														<img class=" swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-5/product-5-2.jpg" alt="image" />
													</figure> 
												</a> 
												<div class="tt-product-additional-buttons">
													<div class="tt-pr-addit-btn-wrap">
														<a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
														<a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
													</div>
												</div> 
											</div> 
											<div class="tt-product-info">
												<h3 class="tt-product-title"><a href="shop-single.html" title="Nude - Print Mockup Kit">Nude - Print Mockup Kit</a></h3>
												<div class="tt-pi-price-btn-wrap">
													<div class="tt-product-price">
														<bdi>$25.00</bdi>
													</div> 
													<div class="tt-product-buttons">
														<a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
                                                    </div> 
												</div> 
											</div> 
										</div>
									</div> 
									<div class="swiper-slide">
										<div class="tt-product">
											<div class="tt-product-image-holder">
												<a href="shop-single.html" class="tt-product-image-wrap">
													<figure class="tt-product-image">
														<img class="swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-6/product-6-1.jpg" alt="image" />
													</figure> 
													<figure class="tt-product-hover-image">
														<img class=" swiper-lazy" src="assets/img/shop/shop-low-qlt-thumb.jpg" data-src="assets/img/shop/carousel/product-6/product-6-2.jpg" alt="image" />
													</figure> 
													<div class="tt-product-padges">
														<div class="pr-padge pr-sale-padge" title="Sale">-16%</div>
													</div>
												</a> 
												<div class="tt-product-additional-buttons">
													<div class="tt-pr-addit-btn-wrap">
														<a href="#" class="tt-pab-btn tt-add-to-wishlist-btn" title="Add to wishlist"><span><i class="far fa-heart"></i></span></a>
														<a href="shop-wishlist.html" class="tt-pab-btn tt-add-to-wishlist-btn-active" title="Browse wishlist"><span><i class="fas fa-heart"></i></span></a>
													</div>
												</div> 
											</div> 
											<div class="tt-product-info">
												<h3 class="tt-product-title"><a href="shop-single.html" title="Android - Smartphone Mockups vol.1">Android - Smartphone Mockups vol.1</a></h3>
												<div class="tt-pi-price-btn-wrap">
													<div class="tt-product-price">
														<ins class="pp-current-price"><bdi>$21.00</bdi></ins>
														<del class="pp-old-price"><bdi>$25.00</bdi></del>
													</div> 
													<div class="tt-product-buttons">
														<a href="#" class="tt-product-btn tt-product-adc-btn"><span>Add to Cart</span></a>
													</div> 
												</div> 
											</div> 
										</div>
									</div> 
								</div>
							</div>
							<div class="tt-prc-nav-prev">
								<div class="tt-prc-arrow tt-prc-arrow-prev magnetic-item"></div>
							</div>
							<div class="tt-prc-nav-next">
								<div class="tt-prc-arrow tt-prc-arrow-next magnetic-item"></div>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
</main>
