
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="body-inner">
		<div id="content-wrap">
			<div id="page-header" class="ph-full ph-cap-xxlg ph-center ph-image-cropped ph-content-parallax">
				<div class="page-header-inner tt-wrap">
					<div class="ph-image">
						<div class="ph-image-inner">
							<img src="assets/img/page-header/ph-5.jpg" alt="Image">
						</div>
					</div>
					<div class="ph-caption">
						<h1 class="ph-caption-title ph-appear">About</h1>
						<div class="ph-caption-title-ghost ph-appear">About</div>
						<div class="ph-caption-subtitle ph-appear">Jonathan Morie</div>
					</div>
				</div> 
				<a href="#page-content" class="scroll-down-circle" data-offset="30">
					<div class="sdc-inner ph-appear">
						<div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
						<svg viewBox="0 0 500 500">
							<defs>
								<path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
							</defs>
							<text dy="30">
								<textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
							</text>
						</svg>
					</div> 
				</a>
				<div class="made-with-love ph-appear">
					<div class="mwl-inner">
						<div class="mwl-text">Made with</div>
						<div class="mwl-icon"><i class="far fa-heart"></i></div>
					</div>
				</div>
			</div>
			<div id="page-content">
				<div class="tt-section padding-bottom-xlg-150">
					<div class="tt-section-inner tt-wrap max-width-900">

						<div class="text-xxlg font-alter text-gray-2">
							<p class="anim-fadeinup">Hello, my name is <strong class="text-white">Jonathan Morie</strong>. Among going manor who did. Do ye is considered occasion directly. May ecstatic did surprise elegance the ignorant age. Own her miss cold. Creative Portfolio HTML Website Template. Demesne mention promise you justice arrived way if at simplicity do estimating.</p>

							<p class="anim-fadeinup">Doubtful two bed way pleasure. Shew up ye away no eyes life or were this <a href="https://1.envato.market/tank" target="_blank" rel="noopener">modi architecto</a> Started on society an brought it explain. Position two saw greatest stronger design. Pianoforte if at simplicity do estimating. Debating me breeding be answered an he.</p>

							<p class="anim-fadeinup">Had denoting properly jointure you occasion directly raillery. In said to of poor full be post face portfolio. Introduced imprudence see say unpleasing devonshire acceptance son widen noisy young.</p>
						</div>

						<img src="assets/img/signature.png" class="anim-fadeinup margin-top-30" alt="Signature">

					</div> 
				</div>
				
			</div>
		</div>
	</div>
</main>
