@{
    ViewData["Title"] = "Bloqlar - Shahnaz Mammadova";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}

@model ICollection<Blog>
<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Bloqlar</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-danger" asp-controller="blog" asp-action="create">Yeni Bloq Yaz...</a></>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 style="text-align:center">Bütün Bloqlar</h5><span style="text-align:center">Yazdığınız bütün bloqlar aşağıdakı cədvəldən nəzarət edə bilərsiniz. <bold><span style="text-align:center" class="text-danger">Qeyd: Yeni bloq yazmaq üçün Yeni Bloq Yaz - a keçid edin.</span></bold></span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr style="text-align:center">
                                    <th scope="col">Əsas Şəkil </th>
                                    <th scope="col">Əlavə Şəkil </th>
                                    <th scope="col">Video</th>
                                    <th scope="col">Adı</th>
                                    <th scope="col">Yaranma Tarixi</th>
                                    <th scope="col">Dəyişdirilmə Tarixi</th>
                                    <th scope="col">Kateqoriya</th>
                                    <th scope="col">Tənzimləmələr</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var story in Model.Where(c => c.IsDeleted == false))
                                {
                                    <tr>
                                        <td><img src="~/user/assets/blogimg/@story.FirstImageUrl" width="70px" height="70px" /></td>
                                        <td><img src="~/user/assets/blogimg/@story.SecondImageUrl" width="70px" height="70px" /></td>
                                        <td><video src="~/user/assets/blogimg/@story.VideoUrl" width="130px" height="70px" controls/></td>
                                        <td>@story.NameAz</td>
                                        <td>@story.CreatedTime.ToString( "MM/dd/yyyy hh:mm:ss tt" )</td>
                                        <td>@story.UpdatedTime?.ToString( "MM/dd/yyyy hh:mm:ss tt" )</td>
                                        <td>@story.Category.NameAz</td>
                                        <td>
                                            <a class="btn btn-success margin-top-10" asp-controller="blog" asp-action="update" asp-route-id=@story.Id data-bs-original-title="" title=""> <span class="icon-pencil-alt"></span></a>
                                            <a class="btn btn-danger" asp-controller="blog" asp-action="delete" asp-route-id=@story.Id data-bs-original-title="" title=""> <span class="icon-trash"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>



