
@{
    ViewData["Title"] = "Blog Düzəliş Et";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}

@model UpdateBlogVM

<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Bloq Düzəliş Et</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-danger" asp-controller="blog" asp-action="index">Bütün Bloqlara Bax...</a></li>
                    </ol>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Bloqu Düzəliş Et</h5>
                    </div>
                    <form class="form theme-form" class="needs-validation" novalidate="" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput5">Bloqun Adı (Azərbaycan dili)</label>
                                        <input asp-for="NameAz" class="form-control btn-pill" id="validationCustom01" type="text">
                                        <span asp-validation-for="NameAz" class="text-danger"></span>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput5">Bloqun Adı (İngilis dili)</label>
                                        <input asp-for="NameEng" class="form-control btn-pill" id="validationCustom01" type="text">
                                        <span asp-validation-for="NameEng" class="text-danger"></span>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlInput5">Bloqun Adı (Rus dili)</label>
                                        <input asp-for="NameRu" class="form-control btn-pill" id="validationCustom01" type="text">
                                        <span asp-validation-for="NameRu" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="exampleFormControlSelect8">Bloqun Kateqoriyası</label>
                                        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-select btn-pill p-l-45 digits" id="exampleFormControlSelect8" multiple="">
                                        </select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <div>
                                        <label class="form-label" for="exampleFormControlTextarea9">Bloq Mətni (Azərbaycan dili)</label>
                                        <textarea asp-for="DescriptionAz" class="form-control btn-pill summernote" id="exampleFormControlTextarea9" rows="3"></textarea>
                                        <span asp-validation-for="DescriptionAz" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <label class="form-label" for="exampleFormControlTextarea9">Bloq Mətni (İngilis dili)</label>
                                        <textarea asp-for="DescriptionEng" class="form-control btn-pill summernote" id="exampleFormControlTextarea9" rows="3"></textarea>
                                        <span asp-validation-for="DescriptionEng" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div>
                                        <label class="form-label" for="exampleFormControlTextarea9">Bloq Mətni (Rus dili)</label>
                                        <textarea asp-for="DescriptionRu" class="form-control btn-pill summernote" id="exampleFormControlTextarea9" rows="3"></textarea>
                                        <span asp-validation-for="DescriptionRu" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col">
                                    <div class="mb-3 row">
                                        <div class="col-sm-12">
                                            <label class="form-label">Şəkil (Əsas)</label><br />
                                            <img src="~/user/assets/blogimg/@Model.FirstImageUrl" width="150px" height="150px" />
                                            <input asp-for="FirstImage" class="form-control" type="file">
                                            <span asp-validation-for="FirstImage" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col">
                                    <div class="mb-3 row">
                                        <div class="col-sm-12">
                                            <label class="form-label">Şəkil (Əlavə)</label><br />
                                            <img src="~/user/assets/blogimg/@Model.SecondImageUrl" width="150px" height="150px" />
                                            <input asp-for="SecondImage" class="form-control" type="file"><br />
                                            <span asp-validation-for="SecondImage" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col">
                                    <div class="mb-3 row">
                                        <div class="col-sm-12">
                                            <label class="form-label">Video</label><br />
                                            <video src="~/user/assets/blogimg/@Model.VideoUrl" width="150px" height="150px"  controls /></video>
                                            <input asp-for="Video" class="form-control" type="file">
                                            <span asp-validation-for="Video" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <div class="checkbox checkbox-solid-success" style="margin-left:30px">
                                        <input asp-for="IsPopular" id="solid1" type="checkbox">
                                        <label for="solid1">Önə Çıxarılan Et</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit">Bloqu Əlavə Et</button>
                            <a class="btn btn-light" asp-controller="blog" asp-action="index">İmtina Et</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

