
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/shahnazm/Views/Shared/_Layout.cshtml";
}


<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>General</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Statistika</a></li>
                        <li class="breadcrumb-item active">Ümumi</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                            <li>
                                <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                                <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="Search..">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid general-widget">
        <div class="row">
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-primary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="database"></i></div>
                            <div class="media-body">
                                <span class="m-0">Earnings</span>
                                <h4 class="mb-0 counter">6659</h4><i class="icon-bg" data-feather="database"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-secondary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="shopping-bag"></i></div>
                            <div class="media-body">
                                <span class="m-0">Products</span>
                                <h4 class="mb-0 counter">9856</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-primary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="message-circle"></i></div>
                            <div class="media-body">
                                <span class="m-0">Messages</span>
                                <h4 class="mb-0 counter">893</h4><i class="icon-bg" data-feather="message-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-lg-6">
                <div class="card o-hidden border-0">
                    <div class="bg-primary b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center"><i data-feather="user-plus"></i></div>
                            <div class="media-body">
                                <span class="m-0">New Use</span>
                                <h4 class="mb-0 counter">4531</h4><i class="icon-bg" data-feather="user-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 xl-100 box-col-12">
                <div class="card">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h5>PRODUCTS CART</h5>

                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive">
                            <table class="table table-bordernone">
                                <thead>
                                    <tr>
                                        <th scope="col">Details</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="f-w-600">Simply dummy text of the printing</td>
                                        <td>1</td>
                                        <td class="font-primary">Pending</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-secondary">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Long established</td>
                                        <td>5</td>
                                        <td class="font-secondary">Cancle</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-success">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">sometimes by accident</td>
                                        <td>10</td>
                                        <td class="font-secondary">Cancle</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-warning">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Classical Latin literature</td>
                                        <td>9</td>
                                        <td class="font-primary">Return</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-primary">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">keep the site on the Internet</td>
                                        <td>8</td>
                                        <td class="font-primary">Pending</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-danger">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Molestiae consequatur</td>
                                        <td>3</td>
                                        <td class="font-secondary">Cancle</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-info">6523</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="f-w-600">Pain can procure</td>
                                        <td>8</td>
                                        <td class="font-primary">Return</td>
                                        <td>
                                            <div class="span badge rounded-pill pill-badge-primary">6523</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 xl-100 box-col-12">
                <div class="card employee-status">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h5>EMPLOYEE STATUS</h5>
                    </div>
                    <div class="card-body">
                        <div class="user-status table-responsive">
                            <table class="table table-bordernone">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Designation</th>
                                        <th scope="col">Skill Level</th>
                                        <th scope="col">Experience</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="bd-t-none u-s-tb">
                                            <div class="align-middle image-sm-size">
                                                <img class="img-radius align-top m-r-15 rounded-circle" src="~/admin/assets/images/user/4.jpg" alt="">
                                                <div class="d-inline-block">
                                                    <h6>John Deo <span class="text-muted">(14+ Online)</span></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Designer</td>
                                        <td>
                                            <div class="progress-showcase">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>2 Year</td>
                                    </tr>
                                    <tr>
                                        <td class="bd-t-none u-s-tb">
                                            <div class="align-middle image-sm-size d-flex align-items-center">
                                                <img class="img-radius align-top m-r-15 rounded-circle" src="~/admin/assets/images/user/1.jpg" alt="">
                                                <div class="d-inline-block">
                                                    <h6>Holio Mako <span class="text-muted">(250+ Online)</span></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Developer</td>
                                        <td>
                                            <div class="progress-showcase">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>3 Year</td>
                                    </tr>
                                    <tr>
                                        <td class="bd-t-none u-s-tb">
                                            <div class="align-middle image-sm-size">
                                                <img class="img-radius align-top m-r-15 rounded-circle" src="~/admin/assets/images/user/5.jpg" alt="">
                                                <div class="d-inline-block">
                                                    <h6>Mohsib lara<span class="text-muted">(99+ Online)</span></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Tester</td>
                                        <td>
                                            <div class="progress-showcase">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>5 Month</td>
                                    </tr>
                                    <tr>
                                        <td class="bd-t-none u-s-tb">
                                            <div class="align-middle image-sm-size">
                                                <img class="img-radius align-top m-r-15 rounded-circle" src="~/admin/assets/images/user/6.jpg" alt="">
                                                <div class="d-inline-block">
                                                    <h6>Hileri Soli <span class="text-muted">(150+ Online)</span></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Designer</td>
                                        <td>
                                            <div class="progress-showcase">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>3 Month</td>
                                    </tr>
                                    <tr>
                                        <td class="bd-t-none u-s-tb">
                                            <div class="align-middle image-sm-size">
                                                <img class="img-radius align-top m-r-15 rounded-circle" src="~/admin/assets/images/user/7.jpg" alt="">
                                                <div class="d-inline-block">
                                                    <h6>Pusiz bia <span class="text-muted">(14+ Online)</span></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Designer</td>
                                        <td>
                                            <div class="progress-showcase">
                                                <div class="progress" style="height: 8px;">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>5 Year</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
